@import "globals";

@include react-md-everything;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #62a4b6;
}

.app {
  display: flex;
  flex-direction: column;

  > header {
    flex: 1;
  }

  > main {
    display: flex;
    flex: 1;
    
    > nav {
      margin-right: 2.5px;
    }

    > aside {
      flex: 1;
    }
  }
}
